# Transmission config
transmission_url: http://localhost:9091/transm/rpc
transmission_user: example
transmission_password: example

rules:
- conditions:
    - name: '(720|1080)p'
    - name_not: '\W[sS]\d{2}'
    - completed: true
    - download_dir: '/srv/share/Downloads'
  actions:
    # Simple form (action takes one arg):
    - move_data: '/srv/share/Movies2'
    # Complex form (action takes named args):
    - move_data:
        path: '/srv/share/Movies2'
        # use_dir makes sure the movie gets its own dir in the target path
        use_dir: true
    # TODO: implement
    - symlink: '/some/path'
    # TODO: implement
    - call_url: 'http://kodi/updatelibrary'
  # Apply no further rules to torrent if this one matches. true if default.
  last: true
- conditions:
    - name: '\W[sS][eE]?(\d\d?)[eE][pP]?\d\d?'
    - completed: true
    - download_dir: '/srv/share/Downloads'
  actions:
    - episode_sort:
        tv_shows_path: '/srv/share/Series'
        season_template: 'Season {}'
