# Transmission config
transmission_url: http://localhost:9091/transm/rpc
transmission_user: example
transmission_password: example

rules:
  - conditions:
      #name_matches: '\W[sS]\d{2}'
      name_matches: '[tT]orrent \d'
      completed: true
      ratio: 0.2
      age: 1
    actions:
      - move_data: '/other_path'
      #- symlink: '/some/path'
      - call_url: 'http://kodi/updatelibrary'
