# Transmission config
transmission_url: http://localhost:9091/transm/rpc
transmission_user: example
transmission_password: example

rules:
  - conditions:
      #- name_matches: '\W[sS]\d{2}'
      - name_matches: '[tT]orrent \d'
      - completed: true
      - ratio: 0.2
      - age: 1
    actions:
      # Simple form (action takes one arg):
      - move_data: '/some/path'
      # Complex form (action takes named args):
      - move_data:
          path: '/some/path'
          # Make sure torrent is downloaded to its own dir
          use_dir: true
      #- symlink: '/some/path'
      - call_url: 'http://kodi/updatelibrary'
